<h2 style="padding-top: 10px; padding-left: 10px;">Pipes:: Custom and Filter </h2>

<strong> Standard Pipes </strong>
<h4>{{ value | uxpipe }}</h4>
<hr>
<div class="container">
    <b class="container">Filter Pipes</b>
    <div class="row justify-content-center ">

        <div class="form-group">
            <input type="text" class="form-control" id="search" placeholder="Search product by name"
                [(ngModel)]="nameSearch" />
        </div><br><br>

        <div
            style="height:80px;width:800px;overflow:auto;background-color:yellowgreen;color:white;scrollbar-base-color:gold;font-family:sans-serif;padding:10px;">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Product</th>
                        <th scope="col">Price</th>
                        <th scope="col">Availability</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of productArr | filter: nameSearch">
                        <th scope="row">{{ product.sno }}</th>
                        <td>{{ product.name }}</td>
                        <td>{{ product.price }}</td>
                        <td>
                            <span>{{ product.availability }}</span>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>


    </div>

</div>