<div class="container">
  <div class="row" style="padding-top: 10px;" >

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-object-array></app-object-array>
      </div> 

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-array-for-loop></app-array-for-loop>
      </div>
      
      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-find-filter-some></app-find-filter-some>
      </div>

  </div>
</div>

<div class="container">
  <div class="row" style="padding-top: 10px;" >

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-if></app-if>
        
      </div> 

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-for></app-for>
      </div>
      
      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
       <app-ngSwitch></app-ngSwitch>
      </div>

  </div>
</div>

<div class="container">
  <div class="row" style="padding-top: 10px;" >

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-template-reference></app-template-reference>

        
      </div> 

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-pipes></app-pipes>
      </div>
      
      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
       <app-ng-class-style></app-ng-class-style>
      </div>

  </div>
</div>

<hr>
<div #box  class="container">
<strong>Parent Component</strong>&nbsp;
<button class="btn btn-primary" (click)="changeChildProperty()">Change Child Property User Name</button>&nbsp;
<button class="btn btn-primary"(click)="callChildMethod()">Call Child Method</button>
</div>

<hr>


<div class="container">
  <div class="row" style="padding-top: 10px;" >

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-view-child></app-view-child>

        
      </div> 

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-host-listener></app-host-listener>
      </div>
      
      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
       <app-data-sharing-via-service></app-data-sharing-via-service>
      </div>

  </div>
</div>

<div class="container">
  <div class="row" style="padding-top: 10px;" >

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-kb-child></app-kb-child>

        
      </div> 

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-kb-parent></app-kb-parent>
      </div>
      
      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <h2>Nested and Child Routes </h2>
        <h3>Click Below button to go User Details Page</h3>
       <a routerLink="user-details" class="btn btn-success mt-3">User Details</a>
      </div>
  </div>
</div>

<div class="container">
  <div class="row" style="padding-top: 10px;" >

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
<app-practice-comp1></app-practice-comp1>
        
      </div> 

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
     <app-practice-comp2></app-practice-comp2>
      </div>
      
      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
      Aniket
      </div>

  </div>
</div>

