<div class="container">
  <div class="row" style="padding-top: 10px;" >

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-object-array></app-object-array>
      </div> 

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-array-for-loop></app-array-for-loop>
      </div>
      
      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-find-filter-some></app-find-filter-some>
      </div>

  </div>
</div>

<div class="container">
  <div class="row" style="padding-top: 10px;" >

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-if></app-if>
        
      </div> 

      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
        <app-for></app-for>
      </div>
      
      <div class="col-md-3" style="border:1px solid grey; height: 300px; border-radius: 5px; margin: 10px;">
       <app-ngSwitch></app-ngSwitch>
      </div>

  </div>
</div>
