<div class="container">
    <h2 class="container p-3">CSS</h2>
    <div class="row border border-danger p-3">
        <link rel="stylesheet" href="css.component.css">

        <div class="bg-blue">
            <h3>Here we are using stylesheet</h3>
        </div>
        
        <h1>Here we are using element selector</h1>
        <div>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id voluptatum eaque esse. 
            Enim sequi recusandae perferendis consectetur! Doloremque esse reiciendis fuga enim nisi 
            error unde eius laborum, eum, facilis repellat!
        </div>
        <div id="red">
Here we are using id selector (#) mostly used in javascript
        </div>
<div class="selector">
    Here we are using Class Selector
</div>

<div class="image" style="height: 500px; flex-wrap: wrap;">
Aniket
</div>
<div class="box1; text-center">
    Here we are using display-inline-block
</div>
<div class="box2">
    Here we are using display-inline-block

    </div>

<ul>
<li>Apple</li>
<li>orange</li>
<li>Banana</li>
</ul>

<div class="flexDirection">
<div class="box1">box1</div>
<div class="box2">box2</div>
<div class="box1">box3</div>
<div class="box2">box4</div>
</div>
        

<div class="media">
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellendus inventore ipsa nulla, 
tempore nihil harum aut aliquam dicta voluptate? Ut consectetur quos eligendi debitis blanditiis 
molestias fugit consequatur illo doloremque.
</div>

    </div>
</div>