<h2 style="padding-top: 10px; padding-left: 10px;">*ngSwitchCase </h2>

    <div class="container">
        <select class="form-control" [(ngModel)]="selectedProduct" >
            <option value="Laptop">Laptop</option>
            <option value="Mobile">Mobile</option>
            <option value="TV">TV</option>

        </select>
       
    </div>

    <!-- (change)="getProductVal($event)" /////on line no 4-->

    <div class="col-md-12" [ngSwitch]="selectedProduct">
        <h2 class="text-success" *ngSwitchCase="'Laptop'">Laptop</h2>
        <h2 class="text-success" *ngSwitchCase="'Mobile'">Mobile</h2>
        <h2 class="text-success" *ngSwitchCase="'TV'">TV</h2>
    </div>
